.project-card {
    width: 200px;
    background: rgb(3,15,98);
    background: linear-gradient(90deg, rgba(3,15,98,1) 30%, rgba(68,60,151,1) 100%); 
    min-height: 100px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.project-card__title {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 1rem 2rem;
    color: white;
    font-size: var(--tiny-font);
}

@media screen and (max-width: 500px) {
    .project-card {
        width: 100%;
    }
}