.section--overview {
    display: flex;
    flex-direction: column;
}

.overview__container {
    margin-top: 3.5rem;
    flex: 1;
    display: flex;
}

.overview__left {
    flex: 1;
}

.overview__right {
    flex: 2
}

.overview__left {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.overview__members {
    flex: 1;
    margin-top: 3rem;
}

.overview__header {
    color: var(--main-color);
    font-weight: 500;
    font-size: var(--med-font);
    margin-bottom: 1rem;
}

.overview__text {
    font-size: var(--tiny-font);
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .overview__container {
        flex-direction: column;
    }

    .overview__left {
        flex: 0;
        margin-bottom: 1.5rem;
    }

    .overview__right {
        flex: 1;
    }
}