.main--full {
    left: 0;
    width: 100%;
    background-color: var(--light-color);
}

.dashboard {
    width: 80%;
    margin: 5rem auto;
    padding: 5rem;
    border-radius: 5px;
    background-color: white;
    flex: 1;
    display: flex;
}

.dashboard__right {
    flex: 1;
    border-left: 3px solid var(--main-color);
    padding-left: 2rem;
}

.dashboard__left {
    padding-right: 2rem;
}

.dashboard__username {
    font-size: var(--big-font);
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    text-align: center;
    font-weight: normal;
}

.dashboard__email {
    font-size: var(--tiny-font);
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
}

.dashboard__title {
    font-weight: 500;
    color: var(--main-color);
    font-size: var(--big-font);
    border-bottom: 2px solid var(--main-color);
    display: inline-block;
}

.dashboard__header {
    margin-bottom: 4rem;
}

.dashboard__projects {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.dashboard__button {
    margin-left: 2rem;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: normal;
    transition: .2s ease-in-out;
}

.dashboard__button:hover {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .dashboard {
        flex-direction: column;
        width: 90%;
    }

    .dashboard__right {
        border-left: 0;
        border-top: 3px solid var(--main-color);
        padding-top: 1rem;
        margin-top: 1rem;
        padding-left:  0;
    }

    .dashboard__header {
        display: flex;
        margin-top: 1rem;
    }

    .dashboard__projects {
        justify-content: center;
    }
}