.add-member-form {
    display: flex;
    margin-top: 2rem;
}

.add-member-form input {
    flex: 1;
    margin-right: 1rem;
}

.members {
    margin-top: 2rem;
}

.member {
    display: flex;
    padding: 2rem;
}

.member:nth-child(2n+1) {
    background-color: var(--light-color);
}

.member__username {
    flex: 1;
    font-size: var(--tiny-font);
}

.member__delete {
    font-size: 1.6rem;
    cursor: pointer;
}
