.invitations-container {
    display: flex;
    flex-direction: column;
}

.invitations__title {
    color: var(--main-color);
    font-size: var(--small-font);
    margin: 1rem 0;
}

.invitations__message {
    font-size: var(--tiny-font);
    margin-bottom: 1rem;
    font-style: italic;
}