.top-navbar {
    background-color: white;
    padding: 2.5rem 4rem;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.01);
}

.top-navbar__item {
    margin-left: 2rem;
    font-size: var(--tiny-font);
    font-weight: normal;
}

.toggle-menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .toggle-menu {
        display: inline-block
    }
}

@media screen and (max-width: 600px) {
    .top-navbar {
        justify-content: center;
        width: 100%;
    }

    .top-navbar__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}